@mixin flex($direction: row, $justify: null, $align: null, $gap: null) {
  display: flex;
  flex-direction: $direction;

  @if $justify != null { justify-content: $justify; }
  @if $align != null { align-items: $align; }
  @if $gap != null { gap: $gap; }
}

@mixin font($size, $family, $style: normal) {
  font-size: $size;
  font-family: $family;
  font-style: $style;
}
